
.text-of {
    display: none;
} 



.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}

.random-color {
    background-color: var(--random-color);
  }

  

.tabs-link.active {
  background-color: white;
}

.tab-content-item {
  display: none;
}

.tab-content-item.active {
  display: block;
}